.product{
    background-color: none;
    display: flex;
    flex-direction: column;
    width: 310px;
    border-width: 1px;
    max-height: 800px;

}

.product .btn-primary{
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
}

.product .btn-primary:hover{
    background-color: var(--secundary-color-blue);

}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 31px 24px 22px;
    gap: 10px;
}
.product button{
    padding: 8px 16px;
    border-radius: 5px;
    max-width: 200px;
    margin: 24px;
}

.product-description{
    height: 150px;
}

.product-description p{
    text-overflow:ellipsis;
    overflow: hidden;
    height: 150px;
    max-width: 262px;
}

.product-name{
    font-size: 18px;
    height: 50px; 
    display: flex;

}

.type-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 27px;
    box-shadow: 0px 1px 2px rgba(121, 122, 190, 0.3), 0px 2px 6px 2px rgba(121, 122, 190, 0.15);
    border-radius: 4px;
    max-width: 200px;

}

.type-container:hover{
    color:var(--main-bg-color-black)
}

.image-container {
    overflow: hidden;
    width: 284px;
    height: 238px;
}

.image-container img{
    transition: all 0.5s ease-in-out ;
}
.image-container img:hover{
    transform: scale(1.1);
}

.product-img{
    margin: 11px 13px;
    width: 100%;
    object-fit: scale-down;
}