.navbar {
    background-color: var(--neutral-color-two-900)!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2% 1% 2%;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

.nav-link {
    align-items: center;
    color: var(--main-bg-color-black);
    margin: 0 12px;
}

.nav-link:hover {
    color: var(--secundary-color-aquamarine);
}

#btn-nav {
    width: 10rem;
    border: solid;
    font-size: small;
    padding: 12px 18px;

}

.login-btn button {
    background-color: var(--main-bg-color-black);
    color: var(--neutral-color-two-900);
    border-color: var(--neutral-color-two-900);
    border-width: 0px;
}

.create-btn button {
    color: var(--main-bg-color-black);
    border-color: var(--main-bg-color-black);
    border-width: 0px;
}

.login-btn button :hover {
    background-color: var(--neutral-color-two-900);
    color: var(--main-bg-color-black);
    border-width: 0px;
}

.create-btn button :hover {
    background: transparent;
    border: 3px solid #2D332F;
    color: #2D332F;
}

@media(max-width:792px) {
    #btn-nav {
        width: 7rem;
        font-size: small;
        padding: 12px 18px;
    }

}
